<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"
    />
    <script
      async
      src="https://kit.fontawesome.com/3c9a665878.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="img"></div>
      <div class="text">
        <h1><%= title %></h1>
        <h2><%= subtitle %></h2>
      </div>
    </header>
    <main>
      <section id="articles">
        <% blogposts.forEach(function(blogpost, index){ %>
        <article id="article-<%- index %>" data-slug="<%- blogpost.slug %>">
          <h3 class="article-header"><%- blogpost.title %></h3>
          <p class="article-content">
            <%- blogpost.subtitle %>
          </p>
        </article>
        <% }); %>
      </section>

      <section id="info">
        <ul>
          <li>
            <i class="fas fa-chevron-right"></i>
            <h3>About me</h3>
          </li>
          <li>
            <i class="fas fa-chevron-right"></i>
            <h3>More articles on my blog</h3>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <ul>
        <li>
          <a href="mailto:andre.santos0906@gmail.com" alt="email">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/andresantos_09" alt="twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/andrelas1" alt="github">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/andrelas/" alt="linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
